header {
    height:100vh;
    padding-top: 4rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ============= CTA ================= */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* =============== HEADER SOCIALS ================= */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 5rem; 
}

.header__socials:after {
    content: '';
    width: 2px;
    height: 2rem;
    background: var(--color-primary);
}

/* ===================== IMAGE SNAPSHOT ================ */

.snapshot {
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    overflow: hidden;
    border-radius: 1.5rem 12rem;
}


/* ===================== Scroll Down ================ */

.scroll_down {
    position: absolute;
    right: -1rem;
    bottom: 10rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ===================== Media Queries (Medium Devices) ================ */
@media screen and (max-width: 1024px) {
    header{
        height: 68vh;
    }
}
/* ===================== Media Queries (Small Devices) ================ */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
    .header_socials,
    .scroll_down {
        display: none;
    }
} 